/* Add CSS Styling */

.odd {
    background-color:palevioletred;
    font-family:Verdana, 'DejaVu Sans', sans-serif;
}

#second {
    color: blue;
    font-size: 30px; 
}

#third {
    font-size: 24px;
}

#fourth {
    background-color:lightgreen;
    font-size: 24px;
    font-weight: bold;
}